/.idea/
methods.iml
*.iml
/out/
/nl/novi/jp/methods/beginner/
/nl/novi/jp/methods/junior
/nl/novi/jp/methods/medior/hints
/nl/novi/jp/methods/medior/MediorThree.java
/nl/novi/jp/methods/medior/MediorFour.java
/nl/novi/jp/methods/senior