/.idea/
methods.iml
*.iml
/out/
/nl/novi/jp/methods/beginner/BeginnerThree.java
/nl/novi/jp/methods/beginner/BeginnerFour.java
/nl/novi/jp/methods/beginner/BeginnerFive.java
/nl/novi/jp/methods/beginner/hints
/nl/novi/jp/methods/junior
/nl/novi/jp/methods/medior
/nl/novi/jp/methods/senior